.container_profile_bg
{
	height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
	background-color: #cecece;
}

.container_profile
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 15%;
	margin-left: 15%;
	padding-top: 3%;
	width: 70%;
	height: 550px;
	background-color: transparent;
}

@media only screen and (max-width:700px)
{
	.container_profile
	{
		padding-top: 6%;
	}
}

.container_profile_top
{
	background-color: #303030; /* usuário do perfil escolhe */
	width: 100%;
	height: 8%;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:flex-start;
}

.container_profile_top a:link, .container_profile_top a:visited, .container_profile_top a:active, .container_profile_top a:hover
{
	color: #fff;
	text-decoration: none;
}


.container_profile_top_button_left
{
    margin-left: 2%;
}


.container_profile_top_button_left:hover
{
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
}

.container_profile_top_button_right
{
	margin-right: 2%;
	position: absolute;
	right: 0px;
}

.dropdown-item, .dropdown-item a:link, .dropdown-item a:active, .dropdown-item a:visited, .dropdown-item a:hover
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

.container_profile_bottom
{
	background-color: #fff;
	width: 100%;
	height: 92%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.register_form_content
{
	height: 90%;
	padding-top: 4%;
	margin-right: 5%;
	margin-left: 5%;
	font-family: 'Inconsolata', monospace;
}

.register_form_title
{
	font-size: 24px;
	font-weight: bold;
	color: #727272;
	margin-bottom: 2%;
	margin-top: 2%;
}

.register_form_text
{
	margin-top: 2%;
	color: #727272;
}

.register_form_input
{
	display: block;
	width: 100%;
}

.register_form_desc
{
	font-size: 14px;
}

.register_form_submit
{
	margin-top: 16px;
	margin-bottom: 16px;
	display: block;
	width: 100%;
	color: #fff;
	background-color: #5e5e56;
	padding: 8px 16px;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
	border: 1px solid #5e5e56;
    transition: background-color .75s ease-in-out;
    -moz-transition: background-color .75s ease-in-out;
    -webkit-transition: background-color .75s ease-in-out;
}

.register_form_submit:hover
{
	color: #5e5e56;
	background-color: #fff;
	border: 1px dotted #5e5e56;
    transition: background-color color .75s ease-in-out;
    -moz-transition: background-color color .75s ease-in-out;
    -webkit-transition: background-color color .75 ease-in-out;
}

@media only screen and (max-width:500px)
{
	.register_form_title
	{
		margin-top: 15%;
		margin-bottom: 15%;
	}
	
	.register_form_text
	{
		margin-top: 15%;
	}
}