.container_profile_bg
{
	height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
	background-color: #cecece;
}

.container_profile
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 15%;
	margin-left: 15%;
	padding-top: 3%;
	width: 70%;
	height: 550px;
	background-color: transparent;
}

@media only screen and (max-width:700px)
{
	.container_profile
	{
		padding-top: 6%;
	}
}

.container_profile_top
{
	background-color: #303030; /* usuário do perfil escolhe */
	width: 100%;
	height: 8%;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:flex-start;
}

.container_profile_top a:link, .container_profile_top a:visited, .container_profile_top a:active, .container_profile_top a:hover
{
	color: #fff;
	text-decoration: none;
}


.container_profile_top_button_left
{
    margin-left: 2%;
    border: none;
    background-color:transparent;
    color: #fff;
    text-transform: uppercase;
}


.container_profile_top_button_left:hover
{
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	padding-top: 2px;
	padding-bottom: 2px;
    cursor: pointer;
}

.container_profile_top_button_right
{
	margin-right: 2%;
	position: absolute;
	right: 0px;
}

.container_profile_left
{
	background-color: #303030;
	width: 25%;
	height: 92%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.left_links_box
{
	position:absolute;
	width:100%;
	height:50%;
	bottom:0px;
	left:0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.left_links_item, .left_links_item a:link, .left_links_item a:active, .left_links_item a:visited
{   
    text-decoration:none;
    text-transform: uppercase;
    padding: 9% 9% 9% 9%;
	font-family:'Open Sans', sans-serif;
	font-size: 16px;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
}

.left_links_item:hover, .left_links_item a:hover
{
    color:#fff;
    text-decoration: none;
    background-color: #232324;
}

.left_links_item_border
{   
	border-bottom: 0px dotted #FFFFFF;
}


.container_profile_right
{
	background-color: #fff;
	width: 75%;
	height: 92%;
    padding: 2% 2% 2% 2%;
	position: absolute;
	bottom: 0px;
	right: 0px;
    font-family: 'VT323', monospace;
    color: #595959;
	display: flex;
	flex-wrap: wrap;
}

.container_profile_right_top
{
    background-color: transparent;
    margin-top: 5%;
    margin-left:5%;
    width:90%;
    height:35%;
    position:absolute;
    top:0px;
    left:0px;   
    display:flex;
    flex-wrap: nowrap;
}

.profile_top_title
{
	width: inherit;
	font-size: 35px;
}

.profile_top_subtitle
{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-transform: uppercase;
	color: gray;
	border-bottom: 1px dotted #232324;
	width: inherit;
	margin-top: -10px;
	padding-bottom: 10px;
}

.profile_top_text
{
	font-size: 17px;
	text-transform: uppercase;
}

.profile_top_text:hover
{
	color: #232324;
}

.profile_about_title
{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-transform: uppercase;
	color: gray;
}

.profile_about_box
{
	border: 1px #232324 dotted;
	height: 130px;
	width: 100%;
	position:absolute;
	bottom:0px;
}

.profile_about
{
	text-transform: lowercase;
	font-size:20px;
	text-align: justify;
	padding: 5% 5% 5% 5%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.container_profile_right_top_left
{
    background-color: transparent;
    width:60%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;   
}

.container_profile_right_top_right
{
    background-color: transparent;
    width:40%;
    height:100%;
    position:absolute;
    top:0px;
    right:0px;   
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container_profile_right_bottom
{
    background-color: transparent;
    width:90%;
    height:55%;
    margin-bottom: 7%;
    margin-left: 5%;
    position:absolute;
    bottom:0px;
    left:0px;
}

.container_profile_right_bottom_left
{
    background-color: transparent;
    width:50%;
    height:100%;
    position:absolute;
    bottom:0px;
    left:0px;
}

.container_profile_right_bottom_right
{
    background-color: transparent;
    width:50%;
    height:80%;
    position:absolute;
    bottom:0px;
    right:0px;
}

.container_profile_crest
{
    background-color: transparent;
    width:45%;
    height:45%;
    margin-top:12%;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.profile_img_bg_box
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50%;
	width: 100%;
	background-color: #fff;
	background-image: url('http://bit.ly/2gPLxZ4');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.profile_img_bg
{
	background: inherit;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.profile_img_bg:before
{
	content: " ";
    width:130%;
    height:130%;
	background: inherit; 
	position: absolute;
	left: -25px;  //giving minus -25px left position
	right: 0;
	top: -25px;   //giving minus -25px top position 
	bottom: 0;
	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
	filter: blur(3px);
}

.profile_img_inner
{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-color: transparent;
	width: 120px;
	height: 120px;
	object-fit: cover;
	padding: 1px 1px 1px 1px;
	border: 8px solid rgba(206, 206, 206, .2);
	border-radius: 50%;
	transition: border-radius .50s ease-in-out;
    -moz-transition: border-radius .50s ease-in-out;
    -webkit-transition: border-radius .50s ease-in-out;
}

.profile_img_inner:hover
{
	border-radius: 0%;
	transition: border-radius .50s ease-in-out;
    -moz-transition: border-radius .50s ease-in-out;
    -webkit-transition: border-radius .50s ease-in-out;
}


.crest_container
{
	text-align: center;
    font-size: 20px;
	padding: 6px 15px;
}

.container_profile_edit
{
	background-color: transparent;
	position: relative;
    right:0%;
	top: 0px;
	width: 40px;
    height:50px;
}

.container_profile_edit:hover
{
	cursor: pointer;
}



.modal_login
{
	z-index: 3;
	display: none;
	padding-top: 5%;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal_login_content
{
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 300px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	animation: animatezoom 0.6s;
}

@keyframes animatezoom
{
	from
	{
		transform: scale(0);
	}
	to
	{
		transform: scale(1);
	}
}

.modal_login_button_internal
{
	border: none;
	display: inline-block;
	outline: 0;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.modal_login_button_internal_close
{
	font-size: 24px;
	position: absolute;
	right:0;
	top:0;
}

.modal_login_button_internal_close:hover
{
	color: #fff;
	background-color: #f44336;
}

.modal_login_header
{
	text-align: center;
}

.modal_login_header_text
{
	font-family: 'Inconsolata', monospace;
	padding-top: 20px;
	font-style: bold;
	margin-right: 5%;
	margin-left: 5%;
}

.modal_login_img
{
	border-radius: 50%;
	margin-top: 16px;
}

.modal_login_form
{
	padding: 0.01em 16px;
}

.modal_login_form_box
{
	margin-top: 16px;
	margin-bottom: 16px;
}

.modal_login_form_input
{
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	border: 1px solid #ccc;
	font-family: 'Inconsolata', monospace;
    white-space: normal;
    margin-top:15px;
}

.modal_login_form_input_name
{
	margin-bottom: 16px;
}

.modal_login_button_internal_submit
{	
	margin-top: 16px;
	margin-bottom: 16px;
	display: block;
	width: 100%;
	color: #fff;
	background-color: #5e5e56;
	padding: 8px 16px;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
	border: 1px dotted #5e5e56;
    transition: background-color .75s ease-in-out;
    -moz-transition: background-color .75s ease-in-out;
    -webkit-transition: background-color .75s ease-in-out;
}

.modal_login_button_internal_submit:hover
{
	color: #5e5e56;
	background-color: #fff;
	border: 1px dotted #5e5e56;
    transition: background-color color .75s ease-in-out;
    -moz-transition: background-color color .75s ease-in-out;
    -webkit-transition: background-color color .75 ease-in-out;
}
