/* NAVBAR */
#navbar
{
	background-color: #252525;
	font-family: 'Open Sans', sans-serif;
	height: 10vh;
	box-shadow: 1px 1px 3px 1px #969694;
	padding-left: 40px;
	padding-right: 40px;
}

#navbar a
{
	font-family: 'Open Sans', sans-serif;
    color:white;
}
#navbar_left
{
	text-transform: uppercase;
	font-weight: 600;
}


@media only screen and (max-width:990px)
{
	#navbar
	{
		height: 100%;
	}
}
/* END NAVBAR */

/* CONTEUDO */

.container_principal_section
{
    width:100%;
    height:90vh; 
    font-family: 'Inconsolata', monospace;
    color: black;
    background-color:white;
}

.columns
{
    float:left;
    width:25%;
    padding:10px;
    height:100%;
    background-color:transparent;
    border-left: 1px dotted black;
}

.row{
    height:100%;
    width:100%;
    content: "";
    display: table;
}

.container_column_section_header
{
    width:100%;
    height:8%;
    justify-content: center;
    text-align: center;
    border-bottom: 1px dotted #cecece;
    font-size: 23px;
}
.container_column_section
{   
    background-color:transparent;
    height:92%;
    width: 100%;
}


@media (max-width: 920px) {
    .columns {
        width: 100%;
    }
}
p{
    border-bottom: 1px dotted black;
}
a
{
    color:white;
}