/* NAVBAR */
#navbar
{
	background-color: #252525;
	font-family: 'Open Sans', sans-serif;
/*	height: 10vh;*/
	box-shadow: 1px 1px 3px 1px #969694;
/*	padding-left: 40px;*/
/*	padding-right: 40px;*/
}

#navbar a
{
	font-family: 'Open Sans', sans-serif;
    color:white;
}
#navbar_left
{
	text-transform: uppercase;
	font-weight: 600;
}
.nav_menu{
    width: 100%;
}
.nav_menu li{
    text-align: center;
}

/*@media only screen and (max-width:990px)
{
	#navbar
	{
		height: 100%;
	}
}*/
/* END NAVBAR */

/* CONTEUDO */

body
{
    background-color: #cecece;
}

.home_page_container{
    height: 100vh;
}

.wrapper
{
    position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 550px;
	background-color: white;
}

.container_principal_section
{
    font-family: 'Inconsolata', monospace;
    color: black;
    background-color:white;
}

/*.columns
{
    float:left;
    width:25%;
    padding:10px;
    height:100%;
    background-color:transparent;
    border-left: 1px dotted black;
}*/

/*.row{
    height:100%;
    width:100%;
    content: "";
    display: table;
    margin:0;!important
}*/

.container_column_section_header
{
    width:100%;
/*    height:8%;*/
    justify-content: center;
    text-align: center;
    border-bottom: 1px dotted #cecece;
    font-size: 23px;
}
.container_column_section
{   
    background-color:transparent;
    height:92%;
    width: 100%;
}


@media (max-width: 920px) {
    .columns {
        width: 100%;
    }
}
p{
    border-bottom: 1px dotted black;
}
a
{
    color:white;
}